### Комментарии в коде

In [ ]:
# комментарии игнорируются интерпретатором

In [ ]:
"""
Рекомендуется писать комментарии при объевлении неочевидной функции.
А также в начале кода для объяснения, что вообще должна сделать программа.
Пиши комментарий, если произошли внешние исторические условия, которые никак не проистекают
из кода
"""

### Арифметические операции

In [ ]:
x = 0 + 1 #сложение
print('x =', x)

y = 5 - 3 #вычитание
print('y =', y)

xy = 2 * x * y #умножение
print('xy =', xy)

xx = xy / 0.5 #деление, автоматом переводит во float
print('xx =', xx)

xz = xx // 3 #целочисленное деление
print('xz =', xz)

yz = xz ** xx #возведение в степень
print('yz =', yz)

zz = yz % 100 #взятие остатка от деления
print('zz =', zz)

In [ ]:
# питон соблюдает стандартное математическое представление о порядке операций
# поскольку систем баз данных много, чтобы получить результат наверняка, используйте скобки

ww = 2 + 2 * 2
print(ww)

### Операторы Сравнения

In [ ]:
qx = 1
qy = 2

qx < qy # выдаст True. также <=

qx > qy # выдаст False. также >=

qx == qy # проверка равенства, выдаст False

qx != qy # неравно, выдаст True

1 > 2 < 3 # первая проверка выдаст False, все неравство = False

'A' > 'a' # сравнение строк идёт по алфавиту, строчные меньше, чем заглавные

len('abc') > len('abcde') # False. у всего можно посчитать продолжительность в элементах. у строк - это символы

### Условные конструкции

In [ ]:
e1 = 3
e2 = 1

if e2 > e1:
    print('1')
elif e2 == e1:
    print('2')
else:
    print('3')

In [ ]:
0 < 1 or 2 > 3 # одно условие выполнено

In [ ]:
0 < 1 and 2 > 3 # ни одно условие не выполнено

### Типы данных

In [ ]:
x12 = int(5) # целое число
print(x12)

y12 = float(5) # дробное число
print(y12)

z12 = str('5 - 1') # строка
print(z12)

o12 = bool(0 == 5) # True или False
print(o12)

if type(x12) == int: # проверка типа данных
    v12 = 'qwerty'
    
print(v12)

In [ ]:
yut = 1200
uyt = '1200'

print('word ' + str(yut) + ' another word') #перевод в строковый тип

print(1200 + int(uyt) + 1200) #перевод в число

### Строки (string), операции с ними

In [ ]:
dq1 = 'str1' + 'STR2' # конкатенация строк
print(dq1)

dq2 = dq1 * 4 # умножение строк
print(dq2)

print(dq1.upper())

print(dq1.lower())

print(dq1.capitalize())

print(dq1.replace('t', 'QWERTY')) # что, на что

print(len(dq1))

In [ ]:
# индексация строк, срезы
mystring12 = 'index'

print(mystring12[0]) # первый
print(mystring12[-5]) # последний от граница -1/0 назад
print(mystring12[0:3:1]) #последнее не входит, шаг 1
print(mystring12[-1]) # последний в строке (всегда)
print(mystring12[0:]) # все, начиная с первого
print(mystring12[:2]) # все, до второго, включительно

In [ ]:
# операторы вхождения

if 'n' in mystring12:
    print('1')
if 'q' not in mystring12:
    print('1')

In [ ]:
# f-строки

str10 = 'qwert'
gig10 = 'gigqwert'

text = f"{str10} // {yut} // {gig10}" # простой способ обозначить строку со включениями - и преобразовать в str
print(text)

### Списки (list)

In [ ]:
# набор элементов внутри [], разделяются запятыми
# внутри могут быть элементы любых типов данных

In [ ]:
month = ['jan', 'feb', 'mar']
money = [100, 200, 300]
income = [['jan', 100], ['feb', 200], ['mar', 300]]
income[0][1] = income[0][1] + 100
print(type(income))
print(income[0])
print(income[0][0])
print(income[1:2]) # так же как со строками

month_money = month + money
print(month_money)

a, b, c, d = [1, 2, 3, 4]
print(a, b, c, d)

In [ ]:
first, *other, last = ['первый', 'второй', 'третий', 'четвертый']
print(other)

In [ ]:
del(month[0]) # удалить по номеру
month

In [ ]:
month.remove('feb') # удалить по названию
month

In [ ]:
month.append('apr') # добавить
month

In [ ]:
month.count('apr') #счет количеств вхождений

In [ ]:
month.index('apr') # номер, на котором объект

In [ ]:
month.reverse() # меняет сам объект
month

In [ ]:
print(sorted(month)) # не меняет объект

In [ ]:
print(sorted(month, reverse= True)) #обратный порядок сортировки

In [ ]:
min(money) #минимум в списке

In [ ]:
max(money) #максимум в списке

In [ ]:
# при приравнивании переменной к списку, новый объект не создается
import copy # позволяет создать новый объект
a = [1, 2, 3]
b = copy.copy(a)
b.append(4)
print(a)
print(b)

### Списки и строки

In [ ]:
string11 = "Строка — ряд знаков, написанных или напечатанных в одну линию. Строка может также означать: Строковый тип — тип данных в программировании. Строка (река) — река в Свердловской области."

In [ ]:
# преобразование строки в список

list11 = string11.split(' ')
if 'Москва' not in list11:
    list11.append('Москва')
list11

In [ ]:
print(','.join(list11)) # преобразование списка в строку

### Кортежи (tuples)

In [4]:
# неизменяемые списки, занимают меньше памяти
tuple2 = (1000, 2000, 3000, 4500)
print(tuple2) #он кортеж
list2 = list(tuple2)
print(list2) # он список

tup = ('one', ) # так создать кортеж из одногоо элемента
print(tup)

(1000, 2000, 3000, 4500)
[1000, 2000, 3000, 4500]
('one',)

In [7]:
tuple3 = ('one', 'two', 'three', 'four')
zip_object = zip(tuple2, tuple3) # создать зип-объект из нескольких кортежей

list(zip_object) # сделать его списком, списком кортежей

[(1000, 'one'), (2000, 'two'), (3000, 'three'), (4500, 'four')]